/*General Body*/
body {
    background-color: teal;
}

/*Search Bar*/

.input[type=text] {
    width: 10%;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 40%;
}

/************/
/*Header*/

header {
    width: 100%;
    height: 100px;
}

h1 {

    margin: 0;
    padding: 0;
    line-height: 100px;
    color: white;
}

/*Border*/

.container  {
    width:80%;
    margin-right: auto;
    margin-left: auto;
    padding:2%;
}

/***********/
/*NAVIGATION*/

.taskbar {

    width: 100%;
    height: 50px;
    padding: 0;
    background-color: black;
}

.taskcont {
    height: 100%;   
    background-color: black;
    list-style-type: none;
    
}

li {
    display: block;
    float: left;
    height: 100%;
    width: 25%;
    text-align: center;
    line-height: 50px;
}

a {
    display: block;
    color: white;
    text-decoration: none;
}

a:hover {
    color: darkred;
    background-color: navy;
}

/*************/
/*Images*/

.poster {
    width: 50%;
    float: left; 
    margin-left: 0%;   
}
.poster img {
 float: left;
 width: 50%;  
 margin-left: 25%;
}

.text {
    margin-top: 40%;
    display: block;
}


/*********/